.nav-link {
    color: white;
    font-size: 1.2em;
}
.nav-link:hover {
    color: white;
}

#numDucks .form-control {
    min-width: 100px;
}
#feedLocation .form-control {
    min-width: 200px;
}
#feedTime .form-control {
    min-width: 240px;
}
#food .form-control {
    min-width: 150px;
}
#foodQuantity .form-control {
    min-width: 100px;
}
table p {
    margin-bottom: 0px;
}
.when {
    min-width: 260px;
}
.tableHeaderText {
    vertical-align: middle;
}
.row > .col-8 {
    display: flex;
    justify-content: center;
    align-items: center; 
}
img.sortArrow:hover {
    cursor: pointer;
}
img {
    padding: 3px;
}
.currentSort {
    border: 3px solid dodgerblue; 
    border-radius: 5px;
    padding: 0px;
}

.fade-enter div {
    overflow-y: hidden;
    max-height: 0;
}
.fade-enter-active div {
    max-height: 120px;
    transition: all 600ms ease-in;
}
.fade-exit div {
    max-height: 120px;
}
.fade-exit-active div {
    max-height: 0;
    overflow-y: hidden;
    transition: all 600ms ease-out;
}

table td {
    padding: 0!important;
}
table td p {
    line-height: 60px;
}